.navbar > .nav > .nav-item > .nav-link:hover {
  color: green;
}

#home {
  height: 670px;
}

#resume,
#portfolio,
#contact {
  height: 730px;
}

#home,
#about,
#resume,
#portfolio,
#contact {
  padding-top: 100px;
}

.about_writted {
  height: 450px;
}

ul {
  list-style: none;
}

.btn:hover {
  background-color: springgreen;
}

.skills > p {
  margin-bottom: 2px;
}

.soft_skills > ul > li {
  list-style-type: circle;
}
